Source: vx-bootsplash
Section: x11
Priority: extra
Maintainer: Jose Antonio Chavarría <jachavar@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/vitalinux/vx-bootsplash

Package: vx-bootsplash
Architecture: all
Provides: vx-virtual-bootsplash, plymouth-theme
Conflicts: vx-virtual-bootsplash
Replaces: vx-virtual-bootsplash
Depends: ${misc:Depends}, plymouth, plymouth-label
Description: Customizing Ubuntu bootsplash.
 Based in http://rajeshksv.blogspot.com.es/2017/02/customize-ubuntu-linux-plymouth-splash.html.
